@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  scroll-behavior: smooth;

}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 51, 51;
    --background-end-rgb: 51, 51, 51;
  }
} */

body {
  background: #151722;
  color:aliceblue;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
