.headerContainer {
  background-color: grey;
  background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(105,105,105,1) 64%);
  padding: 2rem;
  border: 3px transparent solid;
  border-image:  linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  box-shadow: 0 0 20px 5px #ffffff;

}

 
.logoButton {

}

.logoName {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: none;
}

.socials {
  display: flex;
  gap: 1rem;
}