.hero {
  background-color: #151722;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.heroIntro {
  font-size: 2.5rem;
}

.heroText {
  width: 90%;
  background-color: rgba(67, 67, 67, 0.26);
  padding: 2rem;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: transform 250ms, opacity 250ms;
}

.heroText:hover {
  transform: scale(1.1) translateY(-5%);
}

@media (max-width: 768px) {
  .heroIntro {
    font-size: 1.8rem;
  }
  .heroText:hover {
    transform: none;
  }
}

@media (max-width: 500px) {
  .heroIntro {
    font-size: 1.2rem;
  }
}